name: neurolens_patient
description: Patient app for daily voice recordings
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  shared_preferences: ^2.2.3
  flutter_sound: ^9.2.13
  path_provider: ^2.1.2
  permission_handler: ^11.3.0
  flutter_local_notifications: ^17.0.0
  intl: ^0.19.0
  url_launcher: ^6.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/